=render 'items/header'
.user-page
  =render 'sidebar'
  .paymethod
    .paymethod__payinfo
      支払い方法
    .paymethod__credit
      クレジットカード
    .paymethod__register
      =link_to "新規カードを登録する" , "#" ,class: "link-register"
    .paymethod__confirmation
      .paymethod__confirmation__change
        =link_to "登録情報の確認および変更" , "#" ,class: "link-change"
=render 'items/footer'