.downroad
  .downroad__sentence
    .downroad__sentence__upper
      だれでもかんたん、人生を変えるフリマアプリ
    .downroad__sentence__center
      今すぐ無料ダウンロード！
    .downroad__sentence__lower
      =link_to "#", class: "btn" do
        =image_tag 'appbtn.png',class: "appbtn"
      =link_to "#", class: "btn" do
        =image_tag 'playbtn.png',class: "appbtn"