.feature
  .feature__head
    .feature__head__list
      FURIMAの特徴
    .feature__head__line
  %ul.feature__main
    %li.feature__main__third
      = image_tag "index6.png", class: "feature-img"
      .feature__main__third__title
        簡単に売り買いできる
      %p.feature__main__third__text
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li.feature__main__third
      = image_tag "index7.png", class: "feature-img"
      .feature__main__third__title
        売上金は即日振込みに対応
      %p.feature__main__third__text
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %li.feature__main__third
      = image_tag "index8.png", class: "feature-img"
      .feature__main__third__title
        様々な支払いに対応
      %p.feature__main__third__text
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。