.furimatop
  .furimatop__sentence
    .furimatop__sentence__upper
      人生を変えるフリマアプリ
    .furimatop__sentence__center
      FURIMAはだれでもかんたんに出品・購入できる 
      %br
      フリマアプリです
    .furimatop__sentence__lower
      =link_to "#", class: "btn" do
        =image_tag 'appbtn.png',class: "appbtn"
      =link_to "#", class: "btn" do
        =image_tag 'playbtn.png',class: "appbtn"