.membership
  .membership__sentense
    .membership__sentence__upper
      会員数日本一位
    .membership__sentence__center
      .membership__sentence__center__message
      FURIMAは、フリマアプリで最も人気。
      .membership__sentence__center__message
      出品・購入回数も業界最多です！
      .membership__sentence__center__message
      ほしかったあの商品に出会えるかもしれません。
    .membership__sentence__lower
      =link_to "#", class: "btn" do
        =image_tag 'appbtn.png',class: "appbtn"
      =link_to "#", class: "btn" do
        =image_tag 'playbtn.png',class: "appbtn"