.pickup
  .pickup__content
    ピックアップ商品
    .pickup__content__new
      =link_to "新規登録商品", "#" , class:"category-link"
    %ul.pickup__content__list
      - @newItems.each do |item|
        %li.pickup__content__list__product
          =link_to item_path(item.id), class: "listBtn" do
            .pickup__content__list__product__head
              .pickup__content__list__product__head__image
                =image_tag item.images.last.url.url, alt: "image_url", size:"220x150", class: "product-img"
            .pickup__content__list__product__body
              .pickup__content__list__product__body__name
                =item.name
                - if item.soldout.present?
                  .pickup__content__list__product__body__buy
                    売り切れ
                - else
                  .pickup__content__list__product__body__money
                    = item.price 
                    円
                  .pickup__content__list__product__body__tax
                    (税込)