.pickup
  .pickup__content
    ピックアップカテゴリー
    .pickup__content__new
      =link_to "新規投稿商品", "#" , class:"category-link"
  =link_to  "#" do
    %ul.pickup__content__list
      %li.pickup__content__list__product
        .pickup__content__list__product__head
          .pickup__content__list__product__head__image
            =image_tag "product1.jpeg", size:"220x150", class: "product-img"
        .pickup__content__list__product__body
          .pickup__content__list__product__body__name
            テスト1
          .pickup__content__list__product__body__money
            1000円
          .pickup__content__list__product__body__tax
            (税込)
      %li.pickup__content__list__product
        .pickup__content__list__product__head
          .pickup__content__list__product__head__image
            =image_tag "product1.jpeg", size:"220x150", class: "product-img"
        .pickup__content__list__product__body
          .pickup__content__list__product__body__name
            テスト2
          .pickup__content__list__product__body__money
            2000円
          .pickup__content__list__product__body__tax
            (税込)
      %li.pickup__content__list__product
        .pickup__content__list__product__head
          .pickup__content__list__product__head__image
            =image_tag "product1.jpeg", size:"220x150", class: "product-img"
        .pickup__content__list__product__body
          .pickup__content__list__product__body__name
            テスト3
          .pickup__content__list__product__body__money
            3000円
          .pickup__content__list__product__body__tax
            (税込)
      %li.pickup__content__list__product
        .pickup__content__list__product__head
          .pickup__content__list__product__head__image
            =image_tag "product1.jpeg", size:"220x150", class: "product-img"
        .pickup__content__list__product__body
          .pickup__content__list__product__body__name
            テスト4
          .pickup__content__list__product__body__money
            4000円
          .pickup__content__list__product__body__tax
            (税込)
      %li.pickup__content__list__product
        .pickup__content__list__product__head
          .pickup__content__list__product__head__image
            =image_tag "product1.jpeg", size:"220x150", class: "product-img"
        .pickup__content__list__product__body
          .pickup__content__list__product__body__name
            テスト5
          .pickup__content__list__product__body__money
            5000円
          .pickup__content__list__product__body__tax
            (税込)