.reason
  .reason__head
    .reason__head__select
      FURIMAが選ばれる3つの理由
    .reason__head__line
  %ul.reason__main
    %li.reason__main__third
      = image_tag "index2.jpg", class: "reason-img"
      .reason__main__third__title
        .reason__main__third__title__color
          3分
          %span.reason__main__third__title__black
            ですぐに出品
      %p.reason__main__third__text
        スマホで入力するだけで簡単に出品できる！
      .reason__main__third__num
        1
    %li.reason__main__third
      = image_tag "index3.jpg", class: "reason-img"
      .reason__main__third__title
        .reason__main__third--title__color
          シンプル
          %span.reason__main__third--title__black
            で使いやすい
      %p.reason__main__third__text
        めんどくさい入力は必要なく、検索も購入もスムーズ！
      .reason__main__third__num
        2
    %li.reason__main__third-right
      = image_tag "index4.jpg", class: "reason-img"
      .reason__main__third--right__title
        .reason__main__third--title__black
          手数料
          %span.reason__main__third__title__color
            業界最安
      %p.reason__main__third-right__text
        最大3%でお得に出品&購入！
      .reason__main__third-right__num
        3