.single_header
  
.single_main
  .login_panel
    .login_no-acount
      %pアカウントをお持ちでない方はこちら
      %a新規会員登録
    .login_form-inner
      .form_group
        .mailaddress
        %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
    .btn_default
      .btn_red
        %aログイン
    .omochinokata
    パスワードをお忘れの方