.header
.login_main
  .login_main-panel
    .login_no-acount
      %pアカウントをお持ちでない方はこちら     
      =link_to "新規会員登録", "#", class:"btn_blue"
    .login_form-inner
      .form_group
        .mailaddress
        %input.login_input-text.input_default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}
        =link_to "ログイン", "#", class:"btn_red"          
        =link_to "パスワードをお忘れの方", "#", class:"forget_password"
.footer
