=render 'items/header'
.user-page
  =render 'users/sidebar'
  .content
    .content__cards
      %h1 クレジットカード一覧
    - if @card.present?
      %ul.content__cards__list
        %li
          = form_with url: card_path(@card.id), method: :delete, local: true, id: 'charge-form' do |f|
            .content__cards__list__pay
              クレジットカード番号(下4桁のみ表示)
            .content__cards__list__pay__num
              = "**** **** **** " + @card_information.last4
            .content__cards__list__pay
              カード有効期限(月/年)
            .content__cards__list__pay__num
              - exp_month = @card_information.exp_month.to_s
              - exp_year = @card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            %input{type: "hidden", name: "card_id", value: ""}
            = f.submit "削除する", {class: "content__cards__list__remove"}
    - else
      .content__newcard
        =link_to "新規カードを登録する" ,new_card_path,class: "link-newcard"
=render 'items/footer'