.membership {
  height: 420px;
  background-image: image-url("index5.jpg");
  background-size: 100% 420px;
  background-position: top center;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin-bottom:40px;
  display: flex;
  padding-left: 100px;
  align-items: center;
  &__sentence {
    margin: 0 auto;
    &__upper {
      font-size: 27px;
      font-weight: bold;
      text-align: left;
    }
    &__center {
      text-align:left;
      font-size: 18px;
      margin: 30px 0;
    }
  }
}

.appbtn {
  height:60px;
  width:180px;
}