.reason {
  padding: 60px 20px;
  &__head {
    padding-bottom: 25px;
    &__select {
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 7px;
    }
    &__line {
      height: 4px;
      width: 70px;
      background-color: #3ccace;
      margin: 0 auto;
    }
  }
  &__main {
    width: 1020px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    &__third {
      width: 30%;
      position: relative;
      margin: 16px 50px 0 0;
      flex-direction: column;
      align-items: center;
      &__title {
        font-size: 24px;
        font-weight: bold;
        &__color {
          color: #3ccace;
          font-size: 24px;
          font-weight: bold;
        }
        &__black {
          color: black;
          font-size: 24px;
          font-weight: bold;
        }
      }
      &__text {
        margin: 25px 0 0;
        font-size: 18px;
        display: inline-block;
        text-align: left;
      }
      &__num {
        background-color: #3ccace;
        height: 55px;
        width: 55px;
        position: absolute;
        padding: 10px 20px;
        font-size: 30px;
        color: white;
        border-radius: 4%;
        top: 0;
        left: 0;
      }
    }
    &__third-right {
      width: 30%;
      position: relative;
      margin: 16px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__text {
        margin: 25px 0px 25px;
        font-size: 18px;
        display: inline-block;
        text-align: left;
      }
      &__num {
        background-color: #3ccace;
        height: 55px;
        width: 55px;
        position: absolute;
        padding: 10px 20px;
        font-size: 30px;
        color: white;
        border-radius: 4%;
        top: 0;
        left: 0;
      }
    }
  }
}
.reason-img {
  width: 100%;
  padding-bottom: 25px;
}