@mixin border-base-line {
  border-bottom: 1px solid rgba($color: #888, $alpha: .2);
}

@mixin submit-style($bgColor:#ea352d, $color:#fff) {
  width: 100%;
  display: block;
  line-height: 48px;      
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 24px;
  cursor: pointer;
  background-color:$bgColor;
  color:$color;
}

@mixin title-style {
  text-align: left;
  margin-bottom: 20px;
  color: #888;
  font-size: 14px;
  font-weight: bold;
}

@mixin item-fee-profit {
  display: flex;
  justify-content: space-between;;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  line-height: 50px;
}

body {
  background-color: #f5f5f5;
}

.items {
  margin: 0 auto;
  max-width: 700px;
  background-color: #fff;
  text-align: left;
  
  .items__information {
    padding: 40px;
    text-align: left;
    @include border-base-line;
    .items__image {
      text-align: left;
      &__comment {
        text-align: left;
        font-size: 14px;
        margin: 16px 0;
      }
    } 
    
    // 画像投稿
    #image-box {
      height: 150px;
      background-color: rgb(245, 245, 245);
      display: flex;
      #previews{
        display: flex;
        width: 100%;
        .image-container {
          display: grid;
          color: #0095ee;
          margin: 0 3px;
          width: 115px;
          height: 150px;
          img {
            width: 115px;
            height: 125px;
          }
          .image-edit {
            display: flex;
            justify-content: space-around;
            .js-file_group {
              display: none;
            }
          }
        }
        .image-label {
          width: 100%;
        }
      }
      .items__image__upload__comment {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed rgb(204, 204, 204);
        height: 150px;
        width: 100%;
        cursor: pointer;
        p {
          font-size: 12px;
          font-weight: normal;
          border: none;
        }
        .js-file_group {
          display: none;
        }
      }
    }
    // 削除機能のチェックボックスを隠しておく為のコード
    .hidden-destroy {
      display: none;
    }


    .items__name {
      text-align: left;
    }
    .items__explnation {
      text-align: left;
      width: 100%;
      textarea {
        width: 590px;
        padding: 13px 16px;
        margin-top: 16px;
        border-radius: 4px;
        border: 1px solid #333;
        opacity: .7;
        text-align: left;
      }
    }
  }
  
  .items__edit {
    text-align: left;
    padding: 40px;
    @include border-base-line;
    &__title {
      @include title-style;
    }
    .items__category {
      text-align: left;
    }
    .items__brand {
      text-align: left;
    }
    .items__condition {
      text-align: left;
    }
  }
  
  .deliverys {
    text-align: left;
    padding: 40px;
    @include border-base-line;
    .items__fee {
      text-align: left;
      &__title {
        @include title-style;
      }
    }
    .items__consignor {
      text-align: left;
    }
    .items__delivery_day {
      text-align: left;
    } 
  }
  .price {
    @include title-style;
    margin: 0;
    padding: 40px;
    .items__price {
      @include title-style;
      line-height: 50px;
      margin: 20px 0;
      position: relative;
      .en {
        position: absolute;
        top: 3px;
        right: 170px;
        color: black;
        font-size: 14px;
        font-weight: normal;
      }
      .items__price__input {

        .items__price__form {
          position: absolute;
          right: 0;
          top: 0;
          margin: 0;
          width: 130px;
          height: 48px;
          border: 1px solid rgba($color: #333, $alpha: 0.7)
          border-radius 4px;
          text-align: right;
        }
      }
    }
    .items__fee {
      @include item-fee-profit;
      &__left{
        text-align: left;
      }
      &__right {
        text-align: right;
        font-size: 14px;
      }
    }
    .items__profit {
      @include item-fee-profit;
      &__left{
        text-align: left;
      }
      &__right {
        text-align: right;
        font-size: 14px;
      }
    }
  }
  .exhibition {
    margin: 0 170px;
    &__btn__red {
      @include submit-style();
    }
    .back {
      margin-bottom: 20px;
      a {
        display: inline;
        text-decoration: none;
        color: #0095ee;
        font-size: 14px;
      }
    }
  }
  .attention {
    padding: 0 40px 40px 40px;
    font-size: 12px;
  }
}
  
// テキストラベル 
.label {
  display: inline-block;
  font-weight: 600;
  text-align: left;
  margin: 12px 0 0;
  font-size: 14px;
  line-height: 1.4em;
  color: #333;
}
  
// インプットタグ
input {
  display: block;
  padding: 0 16px;
  line-height: 44px;
  width: 590px;
  margin-top: 12px;
  border-radius: 4px;
  border: 1px solid #333;
  opacity: .7;
  text-align: left;
}

// セレクトタグ
select {
  margin-top: 16px;
  width: 624px;
  padding: 0 56px 0 16px;
  height: 46px;
  border: 1px solid #333;
  opacity: .7;
  border-radius: 4px;
}

// 必須ボタン
.require {
  margin: 0 0 0 8px;
  padding: 1px 4px;
  border-radius: 2px;
  color: #fff;
  background-color: #3ccace;
  font-size: 12px;
  font-weight: bolder;
}

// 任意ボタン
.any {
  margin: 0 0 0 8px;
  padding: 1px 4px;
  border-radius: 2px;
  color: #fff;
  background-color: #bfbfbf;
  font-size: 12px;
  font-weight: bolder;
}
