.creditinport{
  background-color: white;
  height: 700px;
  width: 700px;
  margin: 50px 0px 0px 50px;
  &__title{
    height: 70px;
    width: 500px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    border-bottom: 2px solid #f2f2f2;
  }
  &__credit-card{
    background-color: white;
    &__inner{
      margin-top: 20px;
      padding-right:50px;
    }
  }
  .label  {
    font-weight: normal;
    font-size:18px;
  }
  .required{
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      background-color: #3ccace;
      font-size: 12px;
  }
  .input-number{
    height: 50px;
    width: 400px;
    margin-left: 70px;
    border: 3px solid #f2f2f2;
  }
  .card-deadline {
    margin: 50px 0px 0px 0px;
    &__month {
      float: left;
      padding-left:80px;
    }
    &__year {
      float: right;
      padding-right: 200px;
    }
  }
  .input-deadline {
    height:50px;
    width:160px;
  }
  .card-code {
    margin-top:100px;
  }
  .add_card#card_token {
    margin: 50px 0px 0px 70px;
  }
  .add-btn {
    width: 450px;
    background-color: #3ccace;
    height:50px;
    color:black;
    font-weight: bold;
  }
}